<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tse_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tse_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CookingTips"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".About"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Search"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Resources"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".IngredientSubs"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".AddRecipe"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".CalorieCounter"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".RecipeDetails"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".RecipeListings"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Profile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".EditProfile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".LambScewers"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".RoastedHalibut"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ChickenPie"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".CauliflowerSoup"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".BakedSpaghetti"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".BeansBourguignon"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".BeefAndPolenta"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".BokChoy"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ChickenFlatbread"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ChickenTacos"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".CreamyShrimpSkillet"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".DeviledCrabs"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".DrunkenNoodles"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".LambChops"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".MustardRoastedFish"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PanPizza"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PeanutChocolate"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".PotRoast"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ShrimpScampi"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".VeganTostadas"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".VegtableLinguine"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">


        </activity>
        <!--<intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>-->
    </application>

</manifest>


